@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: #232323;
  color: white;
  text-align: center;
}

.flexContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 4rem;
}

.container {
  height: 50rem;
  margin: 50% auto;
}

h1 {
  margin-bottom: .5rem;
}

.btn {
  background-color: #28A745;
  color: white;
  border: none;
  height: 3rem;
  width: 10rem;
  margin: .5rem auto 0 auto;
}

.btn:hover {
  background-color: #1a682c;
}

.btn:active {
  background-color: rgb(45, 125, 247);
}

.timestamp {
  font-size: 75%;
  margin-top: 1rem;
}
